@import 'sprites';

$tablet_viewport: 768px;
$desktop_viewport: 992px;
$large_viewport: 1200px;

html,
body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}
.equipment-icon {
	border-radius: 5px;
}

td.new {
	-webkit-box-shadow: inset 0 0 10px #ef00ef;
	-moz-box-shadow: inset 0 0 10px #ef00ef;
	box-shadow: inset 0 0 10px #ef00ef;
}

td.new .stats {
	margin-left: 20px;
}

.stat-box {
	padding-left: 8px; padding-right: 8px;
	margin-right: 8px;
}

.stat-box:last-child {
	margin-right: 0px;
}

.stat-vendors {
	cursor: pointer;
}


#footer {
	background-color: #f5f5f5;
	margin-top: 30px;

	.top {
		.credit {
			margin-top: 15px;
		}
	}
	.bottom {
		.credit {
			margin-bottom: 15px;
		}
	}

	@media (max-width: $tablet_viewport - 1) {
		text-align: center;
	}
}



@media (min-width: $tablet_viewport) {

	$footer-size: 154px;

	#wrap {
		min-height: 100%;
		height: auto !important;
		height: 100%;
		margin: 0 auto;
		margin-bottom: -$footer-size;
		padding: 0 0 $footer-size;
	}

	#footer {
		height: $footer-size;
		overflow: hidden;

		&>.container {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

.no-value {
	color: #ccc;
}

.table-striped th.title {
	background: #ededed !important;
}

.fixed-width-50 {
	width: 50%;
}

.opaque {
	opacity: .6;
}

.recipe-name, .name-box {
	font-size: 1.25em;
}

.name-box {
	min-height: 52px;
}

.stats-box {

}

	.stats-box .stat {
		line-height: 30px;
	}

	.stat-icon {
		border-radius: 5px;
		width: 20px;
		height: 20px;
	}

td {
	position: relative;
}

.td-navigation-buffer {
	height: 32px;
}

	.td-navigation {
		position: absolute;
		bottom: 8px;
		left: 8px;
		right: 8px;
	}

		.td-navigation .btn {
			width: 40%;
		}

		.td-navigation .disabled {
			width: 20%;
		}

.small {
	font-size: .9em;
}

.strike {
	text-decoration: line-through;
}

.margin-top {
	margin-top: .5em;
}

.margin-bottom {
	margin-bottom: .5em;
}

.margin-left {
	margin-left: 1em;
}

.margin-right {
	margin-right: 1em;
}


	.crafted_gathered {
		.btn, .alert {
			padding: 5px 5px 8px;
			margin-right: 5px;
			&:last-child {
				margin-right: 0px;
			}
		}
		.btn {
			padding: 3px 5px 3px;
		}
	}

.crafting-list {

}

	.crafting-list .well {
		padding: 10px 10px 5px;
		margin-bottom: 10px;
	}

.stat-toggle {
	cursor: pointer;
	line-height: 30px;
}


#job_selector, #level_selector {
	width: 100%;
}

.and_more {
	clear: both;
}

.faux_link {
	color: #08c;
	cursor: pointer;
	&:hover {
		text-decoration: underline;
	}
}

#wrap {
	.home.jumbotron {
		padding-top: 72px;
		&+.container {
			padding-top: inherit;
		}
	}
}

.job-border {
	display: inline-block;
	border: 3px double #ccc;
	border-radius: 8px;
	width: 42px;
	height: 42px;
	position: relative;
	float: left;
	margin-right: .2em;

	&.DOH, &.DOL {
		border-color: silver;
	}

	&.DOW, &.DOM {
		border-color: gold;
	}

	img {
		position: absolute;
		left: 6px;
		top: 6px;
	}
}

$gear_main_no_hash: 333;
$gear_fade_no_hash: 555;
$gear_accent_no_hash: f9a123;
$gear_main: #333;
$gear_border: #3f3f3f;
$gear_fade: #555;
$gear_text: #fff;
$gear_accent: #f9a123;
$gear_warning_accent: #a46868;

#gear-main {
	&.table tbody>tr>td.table-holder {
		padding: 0px;
			border: 0px;
		&> table {
			margin-bottom: 0px;
		}
	}

	thead th,
	tfoot th {
		border: 1px solid $gear_border;
		background-color: $gear_main;
		border-color: $gear_border;
		color: $gear_text;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	}
	thead th {
		text-align: center;
		font-size: 2em;
	}

	.previous-gear, .next-gear {
		cursor: pointer;

		vertical-align: middle !important;
		text-align: center;

		font-size: 30px;
		padding: 0px !important;

		width: 25px;

		border-collapse: separate !important;
		border-top-width: 0px !important;
		
		color: $gear_text;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	}

	.previous-gear {
		border-radius: 10px 0 0 10px;
		-moz-border-radius: 10px 0 0 10px;
		-o-border-radius: 10px 0 0 10px;
		-ms-border-radius: 10px 0 0 10px;
		-webkit-border-radius: 10px 0 0 10px;

		background-color: $gear_main;
		background-image: -moz-linear-gradient(left, $gear_main, $gear_fade);
		background-image: -webkit-linear-gradient(left, $gear_main, $gear_fade);
		background-image: -o-linear-gradient(left, $gear_main, $gear_fade);
		background-image: linear-gradient(to left, $gear_main, $gear_fade);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff$gear_main_no_hash', endColorstr='#ff$gear_fade_no_hash', GradientType=0);
		border-color: $gear_fade $gear_fade $gear_main;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		*background-color: $gear_fade;
		/* Darken IE7 buttons by default so they stand out more given they won't have borders */

		filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);

		&:hover {
			background-color: #f9a123;
			background-image: -moz-linear-gradient(left, $gear_main, $gear_accent);
			background-image: -webkit-linear-gradient(left, $gear_main, $gear_accent);
			background-image: -o-linear-gradient(left, $gear_main, $gear_accent);
			background-image: linear-gradient(to left, $gear_main, $gear_accent);
			background-repeat: repeat-x;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff$gear_main_no_hash', endColorstr='#ff$gear_accent_no_hash', GradientType=0);
			border-color: $gear_accent $gear_accent $gear_main;
			border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		}
	}

	.next-gear {
		border-radius: 0 10px 10px 0;
		-moz-border-radius: 0 10px 10px 0;
		-o-border-radius: 0 10px 10px 0;
		-ms-border-radius: 0 10px 10px 0;
		-webkit-border-radius: 0 10px 10px 0;

		background-color: $gear_main;
		background-image: -moz-linear-gradient(right, $gear_main, $gear_fade);
		background-image: -webkit-linear-gradient(right, $gear_main, $gear_fade);
		background-image: -o-linear-gradient(right, $gear_main, $gear_fade);
		background-image: linear-gradient(to right, $gear_main, $gear_fade);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff555555', GradientType=0);
		border-color: $gear_fade $gear_fade $gear_main;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		*background-color: $gear_fade;
		/* Darken IE7 buttons by default so they stand out more given they won't have borders */

		filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);

		&:hover {
			background-color: $gear_accent;
			background-image: -moz-linear-gradient(right, $gear_main, $gear_accent);
			background-image: -webkit-linear-gradient(right, $gear_main, $gear_accent);
			background-image: -o-linear-gradient(right, $gear_main, $gear_accent);
			background-image: linear-gradient(to right, $gear_main, $gear_accent);
			background-repeat: repeat-x;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#fff9a123', GradientType=0);
			border-color: $gear_accent $gear_accent $gear_main;
			border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		}
	}

	td.role {

		width: 33.3%;

		background-repeat: no-repeat;
		background-position: center;
		background-color: $gear_main;
		border-color: $gear_border;
		//border-width: 0px;
		padding: 0px;

		.role-wrap {
			min-height: 84px;
			padding: 8px;
		}

		// &.role-Primary,
		// &.role-Main-Hand {
		// 	background-image: url(/img/equipment/2x/Primary.png);
		// }
		// &.role-Secondary,
		// &.role-Off-Hand {
		// 	background-image: url(/img/equipment/2x/Secondary.png);
		// }
		// &.role-Head {
		// 	background-image: url(/img/equipment/2x/Head.png);
		// }
		// &.role-Body {
		// 	background-image: url(/img/equipment/2x/Body.png);
		// }
		// &.role-Hands {
		// 	background-image: url(/img/equipment/2x/Hands.png);
		// }
		// &.role-Waist {
		// 	background-image: url(/img/equipment/2x/Waist.png);
		// }
		// &.role-Legs {
		// 	background-image: url(/img/equipment/2x/Legs.png);
		// }
		// &.role-Feet {
		// 	background-image: url(/img/equipment/2x/Feet.png);
		// }
		// &.role-Neck {
		// 	background-image: url(/img/equipment/2x/Neck.png);
		// }
		// &.role-Ears {
		// 	background-image: url(/img/equipment/2x/Ears.png);
		// }
		// &.role-Wrists {
		// 	background-image: url(/img/equipment/2x/Wrists.png);
		// }
		// &.role-Right-Ring {
		// 	background-image: url(/img/equipment/2x/Ring.png);
		// }
		// &.role-Right-Ring {
		// 	background-image: url(/img/equipment/2x/Ring.png);
		// }

		&.upgrade {
			.role-wrap {
				border: 1px solid $gear_accent;
				border-radius: 5px;
			}
			.icons {
				.main-icon {
					border: 2px solid $gear_accent;
					border-radius: 20px;
				}
			}
			.name-box {
				a {
					color: $gear_accent;
				}
			}
		}

		&.cannot-equip {
			.role-wrap {
				display: none;
			}
			.why-cannot-equip {
				color: darken($gear_text, 50%);
				font-size: .8em;
				text-align: center;
				margin-top: 15px;
				margin-bottom: 15px;
			}
		}
	}

	.icons {
		width: 40px;
		margin-right: 10px;
		position: relative;
		img {
			margin-top: 4px;
		}
	}

	.crafted_by {
		position: relative;
		top: 5px;
	}
		
	.name-box {
		display: table-cell;
		height: 50px;
		vertical-align: middle;
		margin-bottom: 10px;
		width: 100%;

		a {
			display: inline-block;
			color: white;
			text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		}
	}

	.stats-box {
		margin-left: 50px;
		margin-right: 10px;
		.stat {
			span {
				margin-left: 4px;
				color: white;
				text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
				&.text-warning { color:#c09853; }
				&.text-danger { color:#b94a48; }
				&.text-success { color:#468847; }
			}
		}
	}

	.td-navigation-buffer {
		height: 20px;
		clear: both;
	}

	.td-navigation {
		color: #aaa;
		font-variant: small-caps;
		font-size: .9em;
		a {
			color: #41a7c5;
		}
		.current {
			margin-left: 8px;
		}
		.total {
			margin-right: 8px;
		}
	}

	#gear.slim {
		.stats-box { display: none; }
		.role-wrap { min-height: 52px; }

		.icons { margin-right: 5px; }
		.icons div div {
			display: inline-block;
			img {
				width: 12px;
				height: 12px;
			}
		}

		.main-icon {
			width: 30px; height: 30px;
		}
		.upgrade {
			.main-icon {
				border-radius: 5px;
				border-width: 1px;
			}
		}
		.name-box {
			height: 25px;
			font-size: 1em;
		}
		.td-navigation-buffer {
			height: 10px;
		}
		.td-navigation {
			font-size: .75em;
		}

		td {
			width: 25%;
		}
	}
}

#notifications {
	position: fixed;
	bottom: 15px;
	right: 10px;
}

.level-dropdown-menu,
.class-dropdown-menu {
	width: 440px;
	border: 0px;
	padding-left: 8px;
	li {
		margin-right: 3px;
		margin-bottom: 3px;
		float: left;
		a {
			padding: 6px 12px;
		}
	}
}

.level-dropdown-menu {
	width: 500px;
	li {
		a {
			color: #fff;
		}
	}
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.add-to-list { cursor: pointer; }
.table tfoot>tr>th.valign,
.table thead>tr>th.valign,
.table tbody>tr>th.valign,
.table tbody>tr>td.valign { vertical-align: middle; }
.delete-list-item { cursor: pointer; }

#recipe-book {
	tfoot {
		.pagination {
			margin: 0;
			ul {
				margin: 0;
			}
		}
	}
}

#min-level,
#max-level {
	width: 60px;
}

.tt-force + .tooltip {
	width: 150px;
}

.rotate-90 {
	transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
}

.popover {
	.tour_moogle {
		position: absolute;
		right: -2px;
		top: -79px;
	}
	h3.popover-title {
		padding-right: 90px;
	}
}

.leve-table {
	.triple {
		// background-image: url(/img/triple.png);
		background-position: 99% 30px;
		background-repeat: no-repeat;
	}
	.item {
		white-space: nowrap;
	}
	.reward {
		min-width: 90px;
	}
	.location {
		background-position: right bottom;
		min-height: 60px;
		width: 180px;
		max-width: 200px;
		max-height: 200px;
		&>div {
			padding-right: 25px;
			font-size: .9em;
		}

		&.limsalominsa {
			// background-image: url(/img/locations/limsalominsa_bg.png);
		}
		&.gridania {
			// background-image: url(/img/locations/gridania_bg.png);
		}
		&.uldah {
			// background-image: url(/img/locations/uldah_bg.png);
		}
	}
}

.news {

	.glyphicon-new-window {
		font-size: .6em;
		margin-left: 8px;
		color: #428bca; // Bootstrap primary
	}

	.post {
		margin-top: 10px;
		&:first-child {
			margin-top: 0px;
		}

		.name {
			font-size: 1.4em;
			.glyphicon-bookmark {
				color: #468847; // Bootstrap green
				margin-right: 8px;
			}

			.glyphicon-new-window {
				font-size: .6em;
				color: #428bca; // Bootstrap primary
				margin-left: 8px;
			}
		}

		.when_who,
		.tags {
			padding-left: 10px;
			color: #555;
			font-size: .9em;
		}

		.when_who {
			.when {

			}
			.who {

			}
		}
		.tags {
			.tag {
				margin-right: 10px;
			}
		}
	}
}

.inline-input {
	display: inline-block;
	width: auto;
}

.level-input {
	padding-left: 5px;
	padding-right: 5px;
	width: 50px;
}

.label + .label {
	margin-left: .5em;
}

.materia-value {
	a {
		text-decoration: none;
		font-size: 1.25em;
		line-height: 1.25em;
	}
	img {
		margin-left: 8px;
		width: 24px;
		height: 24px;
	}
}

.globe {
	position: relative;
	cursor: move;
	height: 512px;
	overflow: hidden;
	padding: 0;
	max-width: 1000px;
	border: 1px solid black;
	background-color: #E6D6AC;

	.area {
		position: absolute;
		width: 1000px;
		img {
			width: 1000px;
		}
	}

	img {
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;
	}

	.region {
		position: absolute;
	}
}

.color-square {
	display: inline-block;
	height: 1em;
	width: 1em;
}

.vendors, .clusters {
	cursor: pointer;
}

ul.plain {
	list-style-type: none;
	margin-left: 0;
}

.mob-icon {
	cursor: pointer;
	border-radius: 2px;
	position: relative;
	top: -6px;
}

.crafted_gathered {
	padding-top: 16px !important;
}