/* FFXIV-CAAS Theme */

$theme_color_lobster: #FF4040;
$theme_color_teal: #25c1c1;
$theme_color_terra: #e8ddcb;
$theme_color_black: #000000;
$theme_color_white: #FFFFFF;
$theme_color_light_gray: #f7f7f7;
$theme_color_darker_than_light_gray: #ebeaea;	//lol
$theme_color_medium_gray: #747475;
$theme_color_dark_gray: #18191A;

body {
	background: $theme_color_black;
}

#account {
	background: $theme_color_dark_gray;
	font-family: 'Roboto Condensed', sans-serif;
	padding: {
		top: 2px;
		bottom: 2px;
	}
	text-transform: uppercase;
	ul {
		margin: 0;
		padding: 0;
		float: right;
		list-style-type: none;
		li {
			float: left;

			&:last-child a {
				border-right: 0px;
			}

			a {
				border-right: 1px solid #333536;
				color: #969696;
				display: block;
				margin: 0;
				padding: {
					left: 20px;
					right: 20px;
					top: 5px;
					bottom: 7px;
				}
				text-decoration: none;


				&:hover {
					color: $theme_color_white;
				}
				&.active {
					color: $theme_color_white;
				}

				span {
					margin-left: 4px;
					line-height: 4px;
					vertical-align: middle;
				}
			}
		}
	}
}

#header {
	background: $theme_color_white;
	font-family: 'Roboto Condensed', sans-serif;
	padding: {
		top: 10px;
		bottom: 10px;
	}

	.container .row {
		position: relative;
	}
	.menu-navbar {
		position: absolute;
		bottom: -10px;
		right: 0;
	}

	.dropdown-menu {
		text-align: right;
		min-width: 115px;
		border: 0;
		padding: 5px 7px;
	}

	.navbar {
		background: none;
		border: 0;
		border-radius: 0;;
		filter: none !important;
		-webkit-box-shadow: none;
		box-shadow: none;
		margin: {
			bottom: 0;
		}

		.nav.navbar-nav {
			float: right;
			text-transform: uppercase;

			li {
				&.active {
					background: none;
					border-bottom: 2px solid $theme_color_lobster;
					a {
						color: $theme_color_black;
					}
				}

				a {
					background: none;
					color: #969696;
					&:hover {
						color: $theme_color_dark_gray;
					}
				}
			}
		}
	}
}

#banner {
	background: $theme_color_darker_than_light_gray;
	padding: {
		top: 20px;
		bottom: 20px;
	}
	h1 {
		color: $theme_color_lobster;
		font-family: 'Roboto Condensed', sans-serif;
		text-transform: uppercase;
	}
	h2 {
		color: $theme_color_medium_gray;
		font-family: 'Roboto Condensed', sans-serif;
	}
}

#content {
	background: $theme_color_light_gray;
	padding: {
		bottom: 20px;
	}
}

#footer {
	background: $theme_color_dark_gray;
	color: $theme_color_light_gray;
	font-size: 12px;
	padding: {
		top: 20px;
		bottom: 20px;
	}

	a {
		color: $theme_color_white;
		font-weight: bold;

		&:hover {
			color: $theme_color_lobster;
			text-decoration: none;
		}
	}

	hr {
		border-color: #2c2e2f;
		margin: {
			top: 10px;
			bottom: 10px;
		}
	}

	p {
		&.headline {
			color: $theme_color_lobster;
			font-family: 'Roboto Condensed', sans-serif;
			font-size: 18px;
			text-transform: uppercase;
		}
		&.view-all {
			margin: {
				top: 20px;
			}
			a {
				color: $theme_color_terra;
				font-weight: bold;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.post {
		.title {
			a {
				font-weight: bold;
			}
		}
		.date {
			color: $theme_color_medium_gray;
			font-size: 11px;
			span {
				display: inline-block;
				margin-left: 4px;
				vertical-align: middle;
			}
		}
		&:nth-child(4) hr {
			display: none;
		}
	}
}

#copyright-info {
	background: $theme_color_black;
	color: #747475;
	font-size: 10px;
	padding: {
		top: 18px;
		bottom: 18px;
	}

	a {
		color: $theme_color_white;
		font-size: 11px;
		font-weight: bold;
		span {
			margin-left: 4px;
			padding-top: 2px;
		}
	}
}