//	TODO: Create each panel color





// ----------- ^


// Variables

$text_color: #fff8f8;
$background_color: #1d2524;
$container_color: #4c605d;
$accent_color: #2ed8c3;
$footer_color: #0e1a1b;

$panel_color: #3d5350;
$panel_border_color: #2b3b39;



// Global

body {
	background: $background_color url('/img/theme/background.jpg') top center no-repeat;;
	color: $text_color;
	padding: {
		top: 20px
	}
}

a {
	color: $accent_color;
	&:hover, &:focus {
		color: $text_color;
	}
}

h1 {
	margin: 0 0 20px;
	border-bottom: 1px solid $accent_color;
	padding-bottom: 10px;
}

#wrap {
	margin: 0;
	padding: 0;
	> .container {
		// padding: 20px;
	}
	.container.interior {
		background: $container_color;
		padding: {
			top: 10px;
		}
	}
}

#header {
	// .menu {
	// 	ul {
	// 		float: right;
	// 		list-style-type: none;
	// 		padding: 0;
	// 		margin: 30px 0 0 0;
	// 		li {
	// 			float: left;
	// 			a {
	// 				color: $text_color;
	// 				padding: 10px 20px;
	// 				&:hover {
	// 					text-decoration: none;
	// 					border-bottom: 1px solid $accent_color;
	// 				}
	// 			}
	// 		}
	// 	}
	// }

	.logo {
		padding: {
			bottom: 20px;
		}
	}

	.navbar-collapse {
		border-radius: 5px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;

		// background: #4c605d;
		// background: -moz-linear-gradient(top,  #4c605d 0%, #324f4a 100%);
		// background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c605d), color-stop(100%,#324f4a));
		// background: -webkit-linear-gradient(top,  #4c605d 0%,#324f4a 100%);
		// background: -o-linear-gradient(top,  #4c605d 0%,#324f4a 100%);
		// background: -ms-linear-gradient(top,  #4c605d 0%,#324f4a 100%);
		// background: linear-gradient(to bottom,  #4c605d 0%,#324f4a 100%);
		// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c605d', endColorstr='#324f4a',GradientType=0 );

// 		background: #4c605d;
// background: -moz-linear-gradient(top,  #4c605d 0%, #2a4242 100%);
// background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c605d), color-stop(100%,#2a4242));
// background: -webkit-linear-gradient(top,  #4c605d 0%,#2a4242 100%);
// background: -o-linear-gradient(top,  #4c605d 0%,#2a4242 100%);
// background: -ms-linear-gradient(top,  #4c605d 0%,#2a4242 100%);
// background: linear-gradient(to bottom,  #4c605d 0%,#2a4242 100%);
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c605d', endColorstr='#2a4242',GradientType=0 );

background: #2a4242;
background: -moz-linear-gradient(top,  #2a4242 0%, #0e1a1b 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a4242), color-stop(100%,#0e1a1b));
background: -webkit-linear-gradient(top,  #2a4242 0%,#0e1a1b 100%);
background: -o-linear-gradient(top,  #2a4242 0%,#0e1a1b 100%);
background: -ms-linear-gradient(top,  #2a4242 0%,#0e1a1b 100%);
background: linear-gradient(to bottom,  #2a4242 0%,#0e1a1b 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a4242', endColorstr='#0e1a1b',GradientType=0 );




		.navbar-nav {
			.active {
					// background: #0e1a1b;
					// background: -moz-linear-gradient(top,  #0e1a1b 0%, #2a4242 100%);
					// background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0e1a1b), color-stop(100%,#2a4242));
					// background: -webkit-linear-gradient(top,  #0e1a1b 0%,#2a4242 100%);
					// background: -o-linear-gradient(top,  #0e1a1b 0%,#2a4242 100%);
					// background: -ms-linear-gradient(top,  #0e1a1b 0%,#2a4242 100%);
					// background: linear-gradient(to bottom,  #0e1a1b 0%,#2a4242 100%);
					// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e1a1b', endColorstr='#2a4242',GradientType=0 );

					// background: #0e1a1b;
					// background: -moz-linear-gradient(top,  #0e1a1b 0%, #4c605d 100%);
					// background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0e1a1b), color-stop(100%,#4c605d));
					// background: -webkit-linear-gradient(top,  #0e1a1b 0%,#4c605d 100%);
					// background: -o-linear-gradient(top,  #0e1a1b 0%,#4c605d 100%);
					// background: -ms-linear-gradient(top,  #0e1a1b 0%,#4c605d 100%);
					// background: linear-gradient(to bottom,  #0e1a1b 0%,#4c605d 100%);
					// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e1a1b', endColorstr='#4c605d',GradientType=0 );

					background: #2a4242;
background: -moz-linear-gradient(top,  #2a4242 0%, #4c605d 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a4242), color-stop(100%,#4c605d));
background: -webkit-linear-gradient(top,  #2a4242 0%,#4c605d 100%);
background: -o-linear-gradient(top,  #2a4242 0%,#4c605d 100%);
background: -ms-linear-gradient(top,  #2a4242 0%,#4c605d 100%);
background: linear-gradient(to bottom,  #2a4242 0%,#4c605d 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a4242', endColorstr='#4c605d',GradientType=0 );


				}
			a {
				// padding: {
				// 	top: 8px;
				// 	bottom: 8px;
				// }
				// font-size: 12px;
				color: $text_color;
				border-right: 1px solid #2a4242;

				&:hover {
					// background: #26A696;
					background: none;
					text-decoration: underline;
				}
			}
		}
	}
}

// Alerts
.alert-info {
	color: $text_color;
	background-color: #31a7c9;
	border-color: $panel_border_color;
	background-image: linear-gradient(to bottom,#5e7d8f 0,#31a7c9 100%);
}

.alert-success {
	color: $text_color;
	background-color: #26a696;
	border-color: $panel_border_color;
	background-image: linear-gradient(to bottom,#5f8f88 0,#26a696 100%);
}

.alert-warning {
	color: $text_color;
	background-color: #d7d252;
	border-color: $panel_border_color;
	background-image: linear-gradient(to bottom,#8b8f5e 0,#d7d252 100%);
}

// .text-primary {
// 	color: #428bca;
// }

.panel {
	background: $panel_color;
	border-color: $panel_border_color;
}

// .panel-info > .panel-heading,
// .panel-danger > .panel-heading {
// 	background-image: linear-gradient(to bottom,#5f8f88 0,#26a696 100%);
// 	color: $text_color;
// 	background-color: $accent_color;
// 	border-color: $panel_border_color;
// }

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
	border-color: $panel_border_color;
}

.table-bordered {
	border-color: $panel_border_color;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
	background-color: $panel_color;
}

.well {
	// background-image: linear-gradient(to bottom,#5f8f88 0,#26a696 100%);
	// // background-image: linear-gradient(to bottom,#e8e8e8 0,#f5f5f5 100%);
	// background-repeat: repeat-x;
	// border-color: $panel_border_color;
	// a {
	// 	color: $panel_border_color;
	// }
}


#footer {

	margin-top: 0;

	background: none;
	height: auto;
	.container {
		background: $footer_color;
		h4 {
			color: $accent_color;
		}
	}
	.bucket {
		border-right: 1px solid #233638;
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			li {
				margin: 0;
				padding: 0;
				a {
					color: $text_color;
				}
			}
		}
	}
}

/* Stacking */
.caas-icon-stack {
	position: relative;
	display: inline-block;
	width: 2em;
	height: 2em;
	line-height: 2em;
	vertical-align: -35%;
}
.caas-icon-stack [class^="caas-icon-"], .caas-icon-stack [class*=" caas-icon-"] {
	display: block;
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 1.5em;
	line-height: inherit;
}

.caas-icon-stack .caas-icon-stack-base {
	font-size: 2em;
}


.caas-icon-stack .caas-icon-stack-base.caas-icon-Border {
	color: #8d8888
}