<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Images not found?
    RewriteCond %{REQUEST_FILENAME} !-f 
    RewriteCond %{REQUEST_URI} \.(gif|jpg|jpeg|png)$
    RewriteRule .* /img/noitemicon.png [L]

    # Just say No, to Google Docs
    # Mozilla/5.0 (compatible; GoogleDocs; apps-spreadsheets; +http://docs.google.com)
    RewriteCond %{HTTP_USER_AGENT} ^.*(GoogleDocs|apps-spreadsheets).* [NC]
    RewriteRule ^(.*)$ - [F,L]

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
